@model KASKBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Post Details</h2>

<fieldset>
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Title)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div><br />

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Body)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div><br />
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
